.navbar {
    justify-content: flex-start;
}

.home {
    margin-right: 10px;
}

.content {
    margin-top: 50px;
}

.user {
    margin-left: auto;
}

.card {
    margin-top: 20px;
}

.pagination {
    margin-top: 20px;
}

.pagination {
    display: flex;
}

.list-search-write {
    display: flex;
    margin-top: 20px;
    margin-left: auto;
}

.write-btn {
    margin-left: 10px;
    margin-top: 20px;
}


.search-option {
    width: 100px;
}

.tasks-content {
    height: 400px;
}

.card {
    cursor:pointer;
}

.search-result {
    margin-top:20px;
}

.search-x {
    padding: 200px 30%
}

.task-day {
    display:block;
    margin-left: auto;
}

.detail-writer {
    width: 30%;
}

.tasks-content {
    height: auto;
    min-height: 300px;
}

.detail-top {
    display: flex;
}

.detail-btn {
    margin-top: auto;
    margin-left: auto;
}

.edit-content {
    height: auto;
    min-height: 300px;
}